<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356453132420-h6d2ukftea1cbom80kb04ld6v8601otf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356453132420-h6d2ukftea1cbom80kb04ld6v8601otf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>356453132420-osbjs78ts7i8uvubhg6ro3d8ma4dmehf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBW9-KUHCRABQh8-vjJodWZWQ8ixRU1UI</string>
	<key>GCM_SENDER_ID</key>
	<string>356453132420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tamil_app</string>
	<key>PROJECT_ID</key>
	<string>h3-tamil-app</string>
	<key>STORAGE_BUCKET</key>
	<string>h3-tamil-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:356453132420:ios:7441f27d5cca2d8b96bad1</string>
	<key>DATABASE_URL</key>
	<string>https://h3-tamil-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>
